body {
	width: 1024px;
	margin: auto;
	margin-top: 10px; 

}

header{

height:80px;

padding: 10px 24px;

background-image: linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 100%);
background-image: -o-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 100%);
background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 100%);
background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.24, rgb(207,207,207)),
	color-stop(1, rgb(245,245,245))
);

-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}


header h1{float: left;}

header .lead {width: 640px; float: right; font-size: 16px; line-height: 18px; color: #666; margin-top: 20px; text-shadow: 0px 1px #ffffff;
}

form div {width: 50%}

form a {font-size: 11px; }

form input[type='submit']{

	padding: 5px 10px;
	color:#fff;

	border: 1px solid #999;

	background-image: linear-gradient(bottom, rgb(58,156,25) 19%, rgb(123,230,87) 100%);
	background-image: -o-linear-gradient(bottom, rgb(58,156,25) 19%, rgb(123,230,87) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(58,156,25) 19%, rgb(123,230,87) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(58,156,25) 19%, rgb(123,230,87) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(58,156,25) 19%, rgb(123,230,87) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.19, rgb(58,156,25)),
		color-stop(1, rgb(123,230,87))
	);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-shadow: 0px -1px #666

}

form input[type='submit']:hover{
	color: #666;
	text-shadow: 0px 1px #fff



};

#timeline{
	background:#7C7C7C;
	right:30px;
	/*position:absolute;*/
	padding:10px;
	top:0;
}
#timeline ul li{
	background-color: #F3F3F3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBDBDB), to(#F3F3F3), color-stop(.5,#F3F3F3));
	background: -moz-linear-gradient(top, #DBDBDB 0%, #F3F3F3 50%, #F3F3F3 100%);
	border-top:#FFF solid thin;
	border-bottom:#999999 solid thin;
	color:#999999;
	width:300px;
	padding:10px;
	list-style:none;
	margin-right:20px;
	position: relative;
	height: 120px;
}
<<<<<<< HEAD
=======
#posts ul li p{
	/*position:absolute;*/
	left:130px; 
}
>>>>>>> Bajada la opacidad del heatmap
.picUsuario{
	border:#FFF 5px solid;
	border-radius:3px;
	-webkit-box-shadow: 0px 2px 2px 0.5px #999;
	box-shadow: 0px 2px 2px 0.5px #999;
	width:66px;
	height:66px;
	/*  float:left; */
	margin-right:10px;
	background: url("../img/pic-user.png");
}
.picUsuario, .dataUsuario {
	display: inline-block;
	vertical-align: top;
}
.picRedSocial{
	width:40px;
	height:40px;
	margin-right:10px;
	background: url("../img/twitter-logo.png");
}
.hora {
	line-height: 3em;
	margin-left: 3px;
}
.picRedSocial, .nombreUsuario, .hora {
	display: inline-block;
	vertical-align: top;
}
.nombreUsuario{
	font-weight:bold;
	color:#000;
	line-height:3em;
}
.local a{
	color:#02E3FD;
	text-shadow: 0px 2px 3px #000;
	filter: dropshadow(color=#000, offx=0, offy=2);
	font-weight:bold;
	font-size: 1.5em;
	text-decoration:none;
}
.rank{
	width:28px;
	height:28px;
	position:absolute;
	right:35px;
	bottom: 30px;
	background: url("../img/caliente.png") no-repeat;
}
aside ul {
	margin: 0;
}
